/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// ----------------------------------   ---------------------------------
// | TAB   | ' | , | .   | p  | y   |   | f   | g  | c   | r | l | BKSP |
// | CTRL  | a | o | e   | u  | i   |   | d   | h  | t   | n | s | -    |
// | SHIFT | ; | q | j   | k  | x   |   | b   | m  | w   | v | z | /    |
// |       |   |   | WIN | LL | ENT |   | SPC | RL | ALT |   |   |      |
                        bindings = <
   &kp TAB   &kp SQT  &kp COMMA &kp DOT  &kp P &kp Y    &kp F     &kp G &kp C     &kp R &kp L &kp BSPC
   &kp LCTRL &kp A    &kp O     &kp E    &kp I &kp I    &kp D     &kp H &kp T     &kp N &kp S &kp MINUS
   &kp LSHFT &kp SEMI &kp Q     &kp J    &kp K &kp X    &kp B     &kp M &kp W     &kp V &kp Z &kp FSLH
                                &kp LGUI &mo 1 &kp RET  &kp SPACE &mo 2 &kp RALT
                        >;
                };
                lower_layer {
// ---------------------------------------   ---------------------------------
// | TAB   | 1   | 2   | 3   | 4   | 5   |   | 6   | 7  | 8   | 9 | 0 | BKSP |
// | CTRL  | `   | ,   | .   |     | BTC |   | /   | 4  | 5   | 6 | = | [    |
// | SHIFT | BT1 | BT2 | BT3 | BT4 | BT5 |   | -   | 1  | 2   | 3 |   | ]    |
// |       |     |     | WIN | BL  | ENT |   | SPC | RL | ALT |   |   |      |

                        bindings = <
   &kp TAB   &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6    &kp N7  &kp N8 &kp N9 &kp N0    &kp BSPC
   &bt LCTRL &kp GRAVE    &kp COMMA    &kp DOT      &trans       &bt BT_CLR     &kp FWSH  &kp N4  &kp N5 &kp N6 &kp EQUAL &kp LEFT_BRACKET
   &kp LSHFT &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp MINUS &kp N1  &kp N2 &kp N3 &trans    &kp RIGHT_BRACKET
                                       &kp LGUI     &trans       &kp RET        &kp SPACE &trans  &kp RALT
                        >;
                };

                raise_layer {
// ----------------------------------------------   ------------------------------------
// | TAB   | PSCRN |      | UP    |       |     |   | BTC | F11 | F12 | [  | ]  | BKSP |
// | CTRL  | HOME  | LEFT | DOWN  | RIGHT | END |   |     | F6  | F7  | F8 | F9 | F10  |
// | SHIFT | CAPS  |      | PGDWN | PGUP  |     |   |     | F1  | F2  | F3 | F4 | F5   |
// |       |       |      | WIN   | LL    | ENT |   | SPC | BL  | ALT |    |    |      |
                        bindings = <
   &kp TAB   &kp PSCRN   &trans   &kp UP        &trans      &trans  &BT_CLR   &kp F11 &kp F12 &kp LEFT_BRACE &kp RIGHT_BRACE &kp BSPC
   &kp LCTRL &kp HOME    &kp LEFT &kp DOWN      &kp RIGHT   &kp END &trans    &kp F6  &kp F7  &kp F8         &kp F9          &kp F10
   &kp LSHFT &kp CAPS    &trans   &kp PAGE_DOWN &kp PAGE_UP &trans  &trans    &kp F1  &kp F2  &kp F3         &kp F4          &kp F5
                                  &kp LGUI      &trans      &kp RET &kp SPACE &trans  &kp RALT
                        >;
                };
        };
};
